<h2>All Images</h2>

<ul>
    <% images.forEach(function(img){ %>        
        <a href="image/<%=img.id%>">
        <img src=../public/<%=img.filename%> width="700" height="600">
        </a>
        <br>
        "Funny comment..."
        <br>
    <% }); %>
</ul>