<%- include('../layout/header'); -%>
<p>Welcome to Photo Caption - Comment on or Caption some of the most famous photos in history!</p>
<!-- LOGIN FORM -->
<form action="/" method="post">
    <label>Username</label>
    <br>
    <input type="text" name="username">
    <br>
    <br>
    <label>Password</label>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit">Login</button>
    <br>
    <br>
    Don't have an account? <a href="/register">Register now!</a>
</form>