<!-- CSS FILE -->
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

<%- include('../layout/header'); -%>
<p class="home-title" id="username">Welcome to Photo Caption - Comment on or Caption some of the most famous photos in history!</p>

<div class="home-container">
    <div class="home-child">
        <div class="home-child-content">
        <!-- LOGIN FORM -->
        <form action="/" method="post">
            <label>User name</label>
            <br>
            <input type="text" class="username" name="username" value="Enter name" onfocus="this.value=''">
            <br>
            <br>
            <label>Password</label>
            <br>
            <input type="password" name="password" class="password">
            <br>
            <br>
            <button type="submit" class="login-button">Login</button>
            <br>
            <br>
            Don't have an account? <a href="/register">Register now!</a>
        </form>
        </div>
    </div>
</div>


