<!-- CSS FILE -->
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

<%- include('../layout/header'); -%>
<p class="home-title">Welcome to Photo Caption - Comment on or Caption some of the most famous photos in history!</p>

<div class="home-container">
    <div class="home-child">
        <!-- LOGIN FORM -->
        <form action="/" method="post">
            <label>Username</label>
            <br>
            <input type="text" name="username">
            <br>
            <br>
            <label>Password</label>
            <br>
            <input type="password" name="password">
            <br>
            <br>
            <button type="submit" class="login-button">Login</button>
            <br>
            <br>
            Don't have an account? <a href="/register">Register now!</a>
        </form>
    </div>
</div>
