Welcome back, <%=user.name%>
    <br>
    <%=user.email%>
        <br>
        Your hashed password is: <%=user.password%>
            <br>
            <a href="/logout">
                <button>Log out</button>
            </a>