<%- include('../layout/header'); -%>
<br>
<br>
Welcome back, <%=user.name%>
    <br>
    <%=user.email%>
        <br>
        
            <br>
            <a href="/logout">
                <button>Log out</button>
            </a>