<!-- CSS FILE -->
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

<%- include('../layout/header'); -%>
<br>
<div class="register-container">
    <div class="register-child">
        <div class="register-child-content">                          
                <h3>Register:</h3>
            <!-- REGISTER FORM -->
            <form action="/register" method="post">
                <label>User name</label>
                <br>
                <input type="text" class="username" name="username" value="Enter new name" onfocus="this.value=''">
                <br>
                <br>
                <label>Email (optional)</label>
                <br>
                <input type="email" class="email">
                <br>
                <br>
                <label>Password</label>
                <br>
                <input type="password" name="password" class="password">    
                <br>
                <br>
                <button type="submit" class="register-button">Register</button>
            </form>
        </div>
    </div>
</div>